.primary-text {
    color: #e67e22;
}

.dark-gray-text {
    color: #333;
}

.off-white-text {
    color: #f8f9fa;
}

.primary-bg {
    background-color: #e67e22;
}

.off-white-bg {
    background-color: #f8f9fa;
}

.light-gray-bg {
    background-color: #f7f7f7;
}