@media screen and (max-width:1344px) {
    .hero-container {
        max-width: 800px;
    }

    .hero-container-inner {
        text-align: center;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width:944px) {
    nav {
        display: none;
    }

    .toggler {
        display: flex;
    }

    .hero-container {
        max-width: 80%;
    }

    .explore {
        padding: 64px 0;
        flex-direction: column;
        text-align: center;
    }

    .explore-container-text {
        padding: 0 16px;
        width: 100%;
    }

    .explore-container-search {
        width: 80%;
    }
}

@media screen and (max-width:850px) {
    .cards-grid {
        width: 100%;
    }

    .card {
        max-width: 80%;
    }

}