.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.center {
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.box-shadow {
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.05);
}

.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}

.btn:hover {
    cursor: pointer;
}